# Python compiled files
*.pyc
__pycache__/

# IDE specific directories
.idea/

# Ignoring Heroku files in their target versions
.env
.env.*

# Project specific files that should not be exposed
db.sqlite3
celerybeat-schedule
